<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94c7ba">  <td>19/03/03 17:26:11</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;AMCE_base.base()[pri:0, instance:AMCE_testcase.AMCE_TestCase@1a968a59]">&gt;&gt;base</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1440047379</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>19/03/03 17:26:17</td>   <td>5694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AMCE_TestCase.TC001()[pri:0, instance:AMCE_testcase.AMCE_TestCase@1a968a59]">TC001</td> 
  <td>main@1440047379</td>   <td></td> </tr>
</table>
